<?xml version="1.0"?>
<configuration>
  <!--<runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <dependentAssembly>
            <assemblyIdentity name="Wincubate.Module20.Slide17"
                              publicKeyToken="b6de49f7da929dfe"
                              culture="neutral" />
            <bindingRedirect oldVersion="1.0.0.0"
                             newVersion="2.0.0.0"/>
         </dependentAssembly>
      </assemblyBinding>
   </runtime>-->
</configuration>
