<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<clear />-->
    <add name="SqlServer2012"
       connectionString="data source=localhost; Integrated Security=SSPI; Database=20483;"
       providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
