<?xml version="1.0"?>
<configuration>
  <system.diagnostics>

    <!--<trace autoflush="true" indentsize="4">
         <listeners>
            <add name="configConsoleListener"
               type="System.Diagnostics.ConsoleTraceListener" />
            <remove name="Default" />
         </listeners>
      </trace>-->

    <switches>
      <add name="myClubSwitch" value="0"/>
      <add name="myTraceLevelSwitch" value="0"/>
    </switches>

  </system.diagnostics>
</configuration>
